Flask==0.11
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.13
Werkzeug==0.11.10
amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.4.1
billiard==3.3.0.23
celery==3.1.23
click==6.6
docopt==0.6.2
itsdangerous==0.24
kombu==3.0.35
lxml==3.6.0
numpy==1.11.0
pandas==0.18.1
python-dateutil==2.5.3
pytz==2016.4
redis==2.10.5
requests==2.10.0
scikit-learn==0.17.1
scipy==0.17.1
six==1.10.0
sklearn==0.0
