{% extends 'base.jinja' %}

{% block content %}

<div class="jumbotron">
    <h3>What's the point?</h3>
</div>

<div style="padding: 0em 6em 2em 6em"><p>Every Sunday, I look for upcoming events in Boston I'd like to attend using <a href="www.thebostoncalendar.com" target="_blank">The Boston Calendar</a>. This is not only a time-consuming task, but also a tedious one: I have to wade through dozens of events which do not interest me to find the few that do. The objective of this project is to automate getting the signal from the noise.</p></div>

{% endblock %}