{% extends 'base.jinja' %}

{% block content %}

    {{ show_events(events|length, "post_homework") }}

{% endblock %}
{% block scripts %}
{{ toggle_checkboxes() }}
{% endblock %}

<!-- THIS SHOULD GO TO A DIFFERENT POST METHOD. CHANGE ALL HISTORICAL TITLES, NOT JUST THE EVENT ID -->