{% extends 'base.jinja' %}

{% block content %}

<div class="jumbotron">
    <h3><strong>Hi Alex,</strong></h3>
    <h3>here are some events this week you might like.</h3>
</div>

{{ show_events(events|length, "post_recommendations", show_dates=True) }}

{% endblock %}

{% block scripts %}
{{ toggle_checkboxes() }}
{% endblock %}