{% extends 'base.jinja' %}

{% block content %}

<div class="jumbotron">
    <h3><strong>Hi Alex,</strong></h3>
    <h3>here are some events this week you might like.</h3>
</div>

{{ show_events(events|length, "post_upcoming", show_dates=True) }}

<div class='square'><span class='note-text'>Indicates a predicted like based on historical preferences ({{ score }}%).</span></div>

{% endblock %}